.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-inline-size: 1024px;
  margin-inline: auto;
  margin-block: 75px 20px;

  @media screen and (max-width: 630px) {
    margin-inline: 15px;
    margin-block: 60px 20px;
  }

  @media screen and (max-width: 1084px) {
    margin-inline: 30px;
  }

  &__container {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    gap: 10px;

    @media screen and (min-width: 630px) {
      gap: 24px;
    }

    @media screen and (max-width: 630px) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, auto);
      justify-items: center;
      gap: 10px;
    }
  }

  &__title {
    position: relative;
    display: flex;
    gap: 7px;
    font-size: 26px;
    letter-spacing: 2px;
    font-weight: 400;
    inline-size: min-content;

    &::after {
      content: '';
      position: absolute;
      left: 56px;
      top: 20px;
      inline-size: 3px;
      block-size: 3px;
      background: url('../../assets/images/dot-img.svg') no-repeat center /
        cover;
    }

    @media screen and (max-width: 360px) {
      font-size: clamp(1.25rem, -0.75rem + 10vw, 1.5rem);

      &::after {
        left: clamp(2.6875rem, -1.8125rem + 22.5vw, 3.25rem);
        top: clamp(0.9375rem, -0.5625rem + 7.5vw, 1.125rem);
      }
    }

    @media screen and (min-width: 630px) {
      font-size: 28px;

      &::after {
        top: 20px;
        left: 59px;
        inline-size: 4px;
        block-size: 4px;
      }
    }

    @media screen and (max-width: 630px) {
      text-align: center;
      inline-size: fit-content;
    }

    @media screen and (min-width: 785px) {
      inline-size: fit-content;
    }
  }

  &__divider {
    align-self: center;
    max-block-size: calc(100% - 15px);
    block-size: 100%;
    inline-size: 2px;
    background: url(/src/assets/images/decoration/ver-line-small.svg) no-repeat
      center / cover;

    @media screen and (max-width: 630px) {
      background-image: url('/src/assets/images/decoration/hor-line-small.svg');
      max-block-size: 100%;
      block-size: 2px;
      inline-size: 100%;
    }
  }

  &__subtext {
    max-width: fit-content;
    font-size: 12px;
    font-weight: 400;
    text-align: right;
    letter-spacing: 0;

    @media screen and (max-width: 630px) {
      font-size: 14px;
      text-align: center;
    }

    @media screen and (min-width: 630px) {
      font-size: 16px;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    inline-size: 130px;
    block-size: 40px;
    color: transparent;
    background: url('../../assets/images/btn-more-mobile.svg') no-repeat
      center / contain;

    @media screen and (min-width: 630px) {
      position: static;
      background-image: url('../../assets/images/btn-portfolio.svg');
      inline-size: 115px;
      block-size: 115px;
    }
  }
}
