@use '../../assets/styles/mixins/decorLine.scss' as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__bottom_line {
    @include decorLineBottom(
      '../../assets/images/decoration/hor-line-large.svg'
    );
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
  }

  &__menu {
    position: relative;
    display: flex;
    justify-content: center;
    inline-size: 100%;
    background-color: var(--main-bg-color);
    z-index: 90;

    @include decorLineBottom(
      '../../assets/images/decoration/hor-line-small.svg'
    );
  }

  &__icon {
    margin: 15px auto;
    transition:
      transform var(--duration) var(--easing),
      opacity var(--duration) var(--easing);
    z-index: 10;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 88;
}
