.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;

  &:hover {
    svg path {
      fill: var(--hover-color, #a6906e);
    }
  }

  .line {
    transition: all 0.3s ease;

    &.change {
      &:nth-child(1) {
        transform: translateY(6px) translateX(-8px) rotate(-45deg);
      }
      &:nth-child(2) {
        transform: translateX(100px);
      }
      &:nth-child(3) {
        transform: translateY(2px) translateX(3px) rotate(45deg);
      }
    }
  }
}
